<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mmu.fracgoal">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FracGoal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mmu.fracgoal.Register"/>
        <activity android:name="com.mmu.fracgoal.Login"/>

        <activity android:name="com.mmu.fracgoal.Setting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.mmu.fracgoal.Profile" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity android:name="com.mmu.fracgoal.TeacherReference"/>
        <activity android:name="com.mmu.fracgoal.UploadMaterial"/>
        <activity android:name="com.mmu.fracgoal.Main"/>


    </application>

</manifest>